USE [ACME]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[IDArticulo] [int] IDENTITY(1,1) NOT NULL,
	[IDUnidadMedida] [int] NOT NULL,
	[Articulo] [varchar](100) NOT NULL,
	[Precio] [decimal](18, 4) NOT NULL,
	[StockActual] [decimal](18, 4) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK__Articulo__48472EAF95E6CA13] PRIMARY KEY CLUSTERED 
(
	[IDArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[IDEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[IDTipoEmpresa] [int] NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[RUC] [varchar](15) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Presupuesto] [decimal](18, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[IDEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisicion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisicion](
	[IDRequisicion] [int] NOT NULL,
	[IDEmpresa] [int] NOT NULL,
	[NroRequiscion] [varchar](10) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[Aprobada] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Requisicion] PRIMARY KEY CLUSTERED 
(
	[IDRequisicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequisicionAnotacion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisicionAnotacion](
	[IDRequisicionAnotacion] [int] IDENTITY(1,1) NOT NULL,
	[IDRequisicion] [int] NOT NULL,
	[Anotacion] [varchar](10) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRequisicionAnotacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequisicionDetalle]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisicionDetalle](
	[IDRequisicionDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDRequisicion] [int] NOT NULL,
	[IDArticulo] [int] NOT NULL,
	[Linea] [smallint] NOT NULL,
	[Cantidad] [decimal](10, 4) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRequisicionDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEmpresa](
	[IDTipoEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[TipoEmpresa] [varchar](100) NOT NULL,
	[Descripción] [varchar](1000) NOT NULL,
	[Sigla] [varchar](10) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TipoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IDTipoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadMedida]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadMedida](
	[IDUnidadMedida] [int] IDENTITY(1,1) NOT NULL,
	[UnidadMedida] [varchar](50) NOT NULL,
	[Sigla] [varchar](10) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUnidadMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK__Articulo__Activo__5DCAEF64] FOREIGN KEY([IDUnidadMedida])
REFERENCES [dbo].[UnidadMedida] ([IDUnidadMedida])
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK__Articulo__Activo__5DCAEF64]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_TipoEmpresa] FOREIGN KEY([IDTipoEmpresa])
REFERENCES [dbo].[TipoEmpresa] ([IDTipoEmpresa])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_TipoEmpresa]
GO
ALTER TABLE [dbo].[Requisicion]  WITH CHECK ADD  CONSTRAINT [FK_Requisicion_Empresa] FOREIGN KEY([IDEmpresa])
REFERENCES [dbo].[Empresa] ([IDEmpresa])
GO
ALTER TABLE [dbo].[Requisicion] CHECK CONSTRAINT [FK_Requisicion_Empresa]
GO
ALTER TABLE [dbo].[RequisicionAnotacion]  WITH CHECK ADD  CONSTRAINT [FK_RequisicionAnotacion_Requisicion] FOREIGN KEY([IDRequisicion])
REFERENCES [dbo].[Requisicion] ([IDRequisicion])
GO
ALTER TABLE [dbo].[RequisicionAnotacion] CHECK CONSTRAINT [FK_RequisicionAnotacion_Requisicion]
GO
ALTER TABLE [dbo].[RequisicionDetalle]  WITH CHECK ADD FOREIGN KEY([IDRequisicion])
REFERENCES [dbo].[Requisicion] ([IDRequisicion])
GO
ALTER TABLE [dbo].[RequisicionDetalle]  WITH CHECK ADD FOREIGN KEY([IDArticulo])
REFERENCES [dbo].[Articulo] ([IDArticulo])
GO
/****** Object:  StoredProcedure [dbo].[AnularArticulo]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES  ELMER
-- Create date: 09/07/2026
-- Description:	Borrado logico ARTICULOS
-- =============================================
CREATE PROCEDURE [dbo].[AnularArticulo]
	@IDArticulo		 int
	
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE [dbo].[Articulo]
   SET [Activo]				 = 0 	
 WHERE IDArticulo	 = @IDArticulo
	END
GO
/****** Object:  StoredProcedure [dbo].[AnularEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026	
-- Description:	Anular de manera lógica datos tabla empresa
-- =============================================
CREATE   PROCEDURE [dbo].[AnularEmpresa] 
    @IDEmpresa int

	AS
BEGIN
	SET NOCOUNT ON;

	
UPDATE [dbo].[Empresa]
   SEt [Activo] =   0
 WHERE IDEmpresa = @IDEmpresa

    


END
GO
/****** Object:  StoredProcedure [dbo].[AnularRequisicion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	ANULAR REQUISICIÓN
-- =============================================
CREATE   PROCEDURE [dbo].[AnularRequisicion] (
@IDRequisicion   int )

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
UPDATE [dbo].[Requisicion]SET 
      [Activo]         = 0
 WHERE IDRequisicion    = @IDRequisicion 

END
GO
/****** Object:  StoredProcedure [dbo].[AnularRequisicionANotacion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	Anular REQUISICIÓN ANOTACIÓN
-- =============================================
CREATE PROCEDURE [dbo].[AnularRequisicionANotacion] 
@IDRequisicion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

UPDATE [dbo].[RequisicionAnotacion]
   SET 
      [Activo]			 =0	
 WHERE IDRequisicion	 = @IDRequisicion
END
GO
/****** Object:  StoredProcedure [dbo].[AnularRequisicionDetalle]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	Anular RequisicionDetalle
-- =============================================
CREATE PROCEDURE [dbo].[AnularRequisicionDetalle]
@IDRequisicion  int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE [dbo].[RequisicionDetalle]
   SET [Activo]				= 0
   WHERE IDRequisicion		= @IDRequisicion 

END
GO
/****** Object:  StoredProcedure [dbo].[AnularTipoEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	borrado logico TIPO DE EMPRESA
-- =============================================
CREATE PROCEDURE [dbo].[AnularTipoEmpresa] 

	-- Add the parameters for the stored procedure here
	@IDTipoEmpresa  int
	 	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE [dbo].[TipoEmpresa]
   SEt [Activo]			 = 0
 WHERE IDTipoEmpresa = @IDTipoEmpresa
   
	
END
GO
/****** Object:  StoredProcedure [dbo].[AnularUnidadMedida]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 10/07/2026
-- Description:	Anular Unidad De Medida-- =============================================
CREATE PROCEDURE [dbo].[AnularUnidadMedida]
@IDUnidadMedida int 


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


UPDATE [dbo].[UnidadMedida]
   SET [Activo]				= 0
 WHERE IDUnidadMedida		= @IDUnidadMedida


END
GO
/****** Object:  StoredProcedure [dbo].[BuscarArticulo]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	BUSCAR DE ARTICULOS
-- =============================================
CREATE   PROCEDURE [dbo].[BuscarArticulo](
	@IDArticulo INT
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [IDUnidadMedida]
      ,[Articulo]
      ,[Precio]
      ,[StockActual]
      ,[Activo]
  FROM [dbo].[Articulo]
  WHERE [IDArticulo] = @IDArticulo
  ORDER BY IDARTICULO
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	BUSCAR EMPRESAS
-- =============================================
CREATE PROCEDURE [dbo].[BuscarEmpresa]
@IDEmpresa int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [IDEmpresa]
      ,[IDTipoEmpresa]
      ,[Empresa]
      ,[Direccion]
      ,[RUC]
      ,[FechaCreacion]
      ,[Presupuesto]
      ,[Activo]
  FROM [dbo].[Empresa]
  where IDEmpresa = @IDEmpresa
  order by IDEmpresa
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarRequisicion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	buscar  REQUISICION
-- =============================================
CREATE PROCEDURE [dbo].[BuscarRequisicion]
@IDRequisicion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 
      [IDEmpresa]
      ,[NroRequiscion]
      ,[FechaEmision]
      ,[Aprobada]
      ,[Activo]
  FROM [dbo].[Requisicion]
  where [IDRequisicion] = @IDRequisicion
  order by idrequisicion desc
    
	
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarRequisicionAnotacion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	Buscar DE RequisicionAnotacion
-- =============================================
CREATE PROCEDURE [dbo].[BuscarRequisicionAnotacion]
@IDRequisicionAnotacion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


SELECT [IDRequisicionAnotacion]
      ,[IDRequisicion]
      ,[Anotacion]
      ,[Activo]
  FROM [dbo].[RequisicionAnotacion]
  where IDRequisicionAnotacion = @IDRequisicionAnotacion
  ORDER BY [IDRequisicionAnotacion] DESC
  end
GO
/****** Object:  StoredProcedure [dbo].[BuscarRequisicionDetalle]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	Buscar REQUISICION DETALLE
-- =============================================
CREATE PROCEDURE [dbo].[BuscarRequisicionDetalle]
@IDRequisicionDetalle int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
SELECT 
      [IDRequisicion]
      ,[IDArticulo]
      ,[Linea]
      ,[Cantidad]
      ,[Activo]
  FROM [dbo].[RequisicionDetalle]
  where IDRequisicionDetalle = @IDRequisicionDetalle
  order by [IDRequisicionDetalle] desc
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarTipoEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	LISTAR TIPO DE EMPRESA
-- =============================================
CREATE PROCEDURE [dbo].[BuscarTipoEmpresa]
	@IDTipoEmpresa int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [IDTipoEmpresa]
      ,[TipoEmpresa]
      ,[Descripción]
      ,[Sigla]
      ,[Activo]
  FROM [dbo].[TipoEmpresa]
  
  where idtipoEmpresa = @IDTipoEmpresa
  order by IDTipoEmpresa desc
   
	
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarUnidadMedida]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	Buscar DE UNIDAD MEDIDA
-- =============================================
CREATE   PROCEDURE [dbo].[BuscarUnidadMedida]
@IDUnidadMedida int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [IDUnidadMedida]
      ,[UnidadMedida]
      ,[Sigla]
      ,[Activo]
  FROM [dbo].[UnidadMedida]
  where IDUnidadMedida = @IDUnidadMedida
  order by IDUnidadMedida desc

END
GO
/****** Object:  StoredProcedure [dbo].[EmpresaInsertar]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	Fuentes-Elmer
-- Create date: 09/07/2026	  
-- Description:	Insertar filas en tabla empresa
-- =============================================
CREATE   PROCEDURE [dbo].[EmpresaInsertar]
    (
	-- Add the parameters for the stored procedure here
    @IDEmpresa int  Output,
	@IDTipoEmpresa int, 
    @Empresa varchar(50),
    @Direccion varchar(100),
    @RUC varchar(15),
    @FechaCreacion date,
    @Presupuesto decimal(18,2),
    @Activo bit
    )
    
AS
BEGIN
	
	SET NOCOUNT ON;
INSERT INTO [dbo].[Empresa]
            (
            IDTipoEmpresa,
           [Empresa]
           ,[Direccion]
           ,[RUC]
           ,[FechaCreacion]
           ,[Presupuesto]
           ,[Activo]
           )
     VALUES(
           @IDTipoEmpresa, 
           @Empresa,
           @Direccion ,
           @RUC,
           @FechaCreacion,
           @Presupuesto,
           @Activo
           )

set @IDEmpresa = @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarArticulo]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	INSERTAR ARTICULOS
-- =============================================
CREATE PROCEDURE [dbo].[InsertarArticulo]
 (          @IDUnidadMedida      int output,
            @Articulo            varchar(100),
            @Precio              decimal(18,4),
            @StockActual         decimal(18,4),
            @Activo              bit)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO [dbo].[Articulo]
           (
           [Articulo]
           ,[Precio]
           ,[StockActual]
           ,[Activo])
     VALUES
           (
           @Articulo       
           ,@Precio         
           ,@StockActual    
           ,@Activo             
           )
         set @IDUnidadMedida  = @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarRequisicion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	INSERTAR REQUSICIÓN
-- =============================================
CREATE PROCEDURE [dbo].[InsertarRequisicion] (
	-- Add the parameters for the stored procedure here
	@IDRequisicion   int,
    @IDEmpresa       int,
    @NroRequiscion   varchar(10),
    @FechaEmision    date,
    @Aprobada        bit,
    @Activo          bit
    )
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[Requisicion]
           ([IDRequisicion]
           ,[IDEmpresa]
           ,[NroRequiscion]
           ,[FechaEmision]
           ,[Aprobada]
           ,[Activo])
     VALUES
           (
           @IDRequisicion 
           ,@IDEmpresa     
           ,@NroRequiscion 
           ,@FechaEmision  
           ,@Aprobada      
           ,@Activo        
           )
           
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarRequisicionAnotacion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	Insertar RequisicionAnotacion
-- =============================================
CREATE   PROCEDURE [dbo].[InsertarRequisicionAnotacion]
    @IDRequisicionAnotacion int, 
    @IDRequisicion   int,
    @Anotacion       varchar(10),
    @Activo          bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO [dbo].[RequisicionAnotacion]
           ([IDRequisicion]
           ,[Anotacion]
           ,[Activo])
     VALUES
           (
           @IDRequisicion
           ,@Anotacion    
           ,@Activo       
           )
           set @IDRequisicionAnotacion = @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarTipoEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	INSTAR TIPO EMPRESA
-- =============================================
CREATE PROCEDURE [dbo].[InsertarTipoEmpresa] (
	-- Add the parameters for the stored procedure here
	@TipoEmpresa     varchar(100),
    @Descripción     varchar(1000),
    @Sigla           varchar(10),
    @Activo          bit
    )
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO [dbo].[TipoEmpresa]
           ([TipoEmpresa]
           ,[Descripción]
           ,[Sigla]
           ,[Activo])
     VALUES (
           @TipoEmpresa
           ,@Descripción
           ,@Sigla      
           ,@Activo     
           )
           
           
END
GO
/****** Object:  StoredProcedure [dbo].[InsetarRequisicionDetalle]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	INSETAR REQUISICIÓN DETALLE 
-- =============================================
CREATE PROCEDURE [dbo].[InsetarRequisicionDetalle] (
@IDRequisicion      int,
@IDArticulo         int,
@Linea              smallint,
@Cantidad           decimal(10,4),
@Activo             bit,
@IDRequisicionDetalle int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO [dbo].[RequisicionDetalle]
           ([IDRequisicion]
           ,[IDArticulo]
           ,[Linea]
           ,[Cantidad]
           ,[Activo])
     VALUES
           (
           @IDRequisicion 
           ,@IDArticulo    
           ,@Linea         
           ,@Cantidad      
           ,@Activo        
           
           
           )
           
           

           set @IDRequisicionDetalle = @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[InsetarUnidadMedida]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 10/07/2026
-- Description:	INSERTAR UNIDAD DE MEDIDDA
-- =============================================
CREATE PROCEDURE [dbo].[InsetarUnidadMedida]
@UnidadMedida       varchar(50),
@Sigla              varchar(10),
@Activo             bit,
@IDUnidadMedida int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

INSERT INTO [dbo].[UnidadMedida]
           ([UnidadMedida]
           ,[Sigla]
           ,[Activo])
     VALUES
           (
           
           @UnidadMedida 
           ,@Sigla        
           ,@Activo       
           
           
           )
           set @IDUnidadMedida = @@IDENTITY
           
           
         END
GO
/****** Object:  StoredProcedure [dbo].[ListadoUnidadMedida]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	LISTADO DE UNIDAD MEDIDA
-- =============================================
CREATE PROCEDURE [dbo].[ListadoUnidadMedida]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [IDUnidadMedida]
      ,[UnidadMedida]
      ,[Sigla]
      ,[Activo]
  FROM [dbo].[UnidadMedida]
  order by IDUnidadMedida desc

END
GO
/****** Object:  StoredProcedure [dbo].[ListarArticulo]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	LISTADO DE ARTICULOS
-- =============================================
CREATE PROCEDURE [dbo].[ListarArticulo]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [IDArticulo]
      ,[IDUnidadMedida]
      ,[Articulo]
      ,[Precio]
      ,[StockActual]
      ,[Activo]
  FROM [dbo].[Articulo]
  ORDER BY IDARTICULO

END
GO
/****** Object:  StoredProcedure [dbo].[ListarEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	LISTAR EMPRESAS
-- =============================================
CREATE PROCEDURE [dbo].[ListarEmpresa]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT [IDEmpresa]
      ,[IDTipoEmpresa]
      ,[Empresa]
      ,[Direccion]
      ,[RUC]
      ,[FechaCreacion]
      ,[Presupuesto]
      ,[Activo]
  FROM [dbo].[Empresa]
  order by IDEmpresa
END
GO
/****** Object:  StoredProcedure [dbo].[ListaRequisicionAnotacion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	LISTA DE RequisicionAnotacion
-- =============================================
CREATE PROCEDURE [dbo].[ListaRequisicionAnotacion]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


SELECT [IDRequisicionAnotacion]
      ,[IDRequisicion]
      ,[Anotacion]
      ,[Activo]
  FROM [dbo].[RequisicionAnotacion]
  ORDER BY [IDRequisicionAnotacion] DESC
  end
GO
/****** Object:  StoredProcedure [dbo].[ListaRequisicionDetalle]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	LISTA REQUISICION DETALLE
-- =============================================
CREATE PROCEDURE [dbo].[ListaRequisicionDetalle]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
SELECT [IDRequisicionDetalle]
      ,[IDRequisicion]
      ,[IDArticulo]
      ,[Linea]
      ,[Cantidad]
      ,[Activo]
  FROM [dbo].[RequisicionDetalle]
  order by [IDRequisicionDetalle] desc
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRequisicion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	LISTAR REQUISICION
-- =============================================
CREATE PROCEDURE [dbo].[ListarRequisicion]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [IDRequisicion]
      ,[IDEmpresa]
      ,[NroRequiscion]
      ,[FechaEmision]
      ,[Aprobada]
      ,[Activo]
  FROM [dbo].[Requisicion]
  order by idrequisicion desc
    
	
END
GO
/****** Object:  StoredProcedure [dbo].[ListarTipoEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	LISTAR TIPO DE EMPRESA
-- =============================================
CREATE PROCEDURE [dbo].[ListarTipoEmpresa]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [IDTipoEmpresa]
      ,[TipoEmpresa]
      ,[Descripción]
      ,[Sigla]
      ,[Activo]
  FROM [dbo].[TipoEmpresa]
  order by IDTipoEmpresa desc
   
	
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarArticulo]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES  ELMER
-- Create date: 09/07/2026
-- Description:	ACTUALIZAR ARTICULOS
-- =============================================
CREATE PROCEDURE [dbo].[ModificarArticulo]
	@IDArticulo		 int,
	@IDUnidadMedida	int,
	@Articulo		varchar(100),
	@Precio			decimal(18,4),
	@StockActual	 decimal(18,4),
	@Activo			bit
	
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE [dbo].[Articulo]
   SET [IDUnidadMedida]		 = @IDUnidadMedida	
      ,[Articulo]			 = @Articulo		
      ,[Precio]				 = @Precio			
      ,[StockActual]		 = @StockActual	
      ,[Activo]				 = @Activo			
 WHERE IDArticulo			 = @IDArticulo
	END
GO
/****** Object:  StoredProcedure [dbo].[ModificarEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026	
-- Description:	Actualización tabla empresa
-- =============================================
CREATE   PROCEDURE [dbo].[ModificarEmpresa] 
    @IDEmpresa int,
	@IDTipoEmpresa  int,
    @Empresa        varchar(50),
    @Direccion      varchar(100),
    @RUC            varchar(15),
    @FechaCreacion  date,
    @Presupuesto    decimal(18,2),
    @Activo         bit

	AS
BEGIN
	SET NOCOUNT ON;

	
UPDATE [dbo].[Empresa]
   SET [IDTipoEmpresa] =   @IDTipoEmpresa 
      ,[Empresa] =         @Empresa       
      ,[Direccion] =       @Direccion     
      ,[RUC] =             @RUC           
      ,[FechaCreacion] =   @FechaCreacion 
      ,[Presupuesto] =     @Presupuesto   
      ,[Activo] =          @Activo        
 WHERE IDEmpresa = @IDEmpresa

    


END
GO
/****** Object:  StoredProcedure [dbo].[ModificarRequisicion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	MODIFICAR REQUISICIÓN
-- =============================================
CREATE   PROCEDURE [dbo].[ModificarRequisicion] (
@IDEmpresa         int,
@NroRequiscion     varchar(10),
@FechaEmision      date,
@Aprobada          bit,
@Activo            bit,
@IDRequisicion   int )

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
UPDATE [dbo].[Requisicion]
   SET [IDEmpresa]      = @IDEmpresa     
      ,[NroRequiscion]  = @NroRequiscion 
      ,[FechaEmision]   = @FechaEmision  
      ,[Aprobada]       = @Aprobada      
      ,[Activo]         = @Activo        
 WHERE IDRequisicion    = @IDRequisicion 

END
GO
/****** Object:  StoredProcedure [dbo].[ModificarRequisicionANotacion]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	ACTUALIZAR REQUISICIÓN ANOTACIÓN
-- =============================================
CREATE PROCEDURE [dbo].[ModificarRequisicionANotacion] 
@Anotacion		varchar(10),
@Activo			 bit,
@IDRequisicion int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

UPDATE [dbo].[RequisicionAnotacion]
   SET 
      [Anotacion]		 = @Anotacion		
      ,[Activo]			 = @Activo			
 WHERE IDRequisicion	 = @IDRequisicion
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarTipoEmpresa]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER
-- Create date: 09/07/2026
-- Description:	ACTUALIZAR TIPO DE EMPRESA
-- =============================================
CREATE PROCEDURE [dbo].[ModificarTipoEmpresa] 
(
	-- Add the parameters for the stored procedure here
	@IDTipoEmpresa  int,
	 @TipoEmpresa   varchar(100),
	 @Descripción   varchar(1000),
	 @Sigla			varchar(10),
	 @Activo		 bit
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE [dbo].[TipoEmpresa]
   SET [TipoEmpresa]	 = @TipoEmpresa   
      ,[Descripción]	 = @Descripción   
      ,[Sigla]			 = @Sigla			
      ,[Activo]			 = @Activo		
 WHERE IDTipoEmpresa = @IDTipoEmpresa
   
	
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUnidadMedida]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 10/07/2026
-- Description:	Modificar Unidad De Medida-- =============================================
CREATE PROCEDURE [dbo].[ModificarUnidadMedida]
@UnidadMedida		 varchar(50),
@Sigla			 varchar(10),
@Activo			 bit,
@IDUnidadMedida int 


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


UPDATE [dbo].[UnidadMedida]
   SET [UnidadMedida]		= @UnidadMedida	
      ,[Sigla]				= @Sigla			
      ,[Activo]				= @Activo			
 WHERE IDUnidadMedida		= @IDUnidadMedida


END
GO
/****** Object:  StoredProcedure [dbo].[MoificarRequisicionDetalle]    Script Date: 10/07/2026 17:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FUENTES ELMER 
-- Create date: 09/07/2026
-- Description:	Modificar RequisicionDetalle
-- =============================================
CREATE PROCEDURE [dbo].[MoificarRequisicionDetalle]
@IDArticulo		int,
@Linea			smallint,
@Cantidad		 decimal(10,4),
@Activo			bit,
@IDRequisicion  int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE [dbo].[RequisicionDetalle]
   SET [IDArticulo]			= @IDArticulo		
      ,[Linea]				= @Linea			
      ,[Cantidad]			= @Cantidad		
      ,[Activo]				= @Activo			
 WHERE IDRequisicion		= @IDRequisicion 

END
GO
